*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

#map{
	background-image: url("googlemaps.png");
    width: 100%;
    height: 100%;
}

.toggle_menu{
	position: fixed;
	padding: 15px 20px 15px 15px;
	margin-top: 70px;
	color: white;
	cursor: pointer;
	background-color: #648879;
	z-index: 1000000;
	font-size: 2em;
	opacity: 0;		
}

.sidebar_menu{
	position: fixed;
	width: 400px;
	margin-left: 0px;
	overflow: hidden;
	height: 100vh;
	background-color: red;
	max-height: 100vh;
	background-color: #fff;
	opacity: 0.9;
	transition: all 0.2s ease-in-out;
}

.fa-times{
	right: 10px;
	top:10px;
	opacity: 0.7;
	cursor: pointer;
	position: absolute;
	color: white;
	transition: all 0.8s ease-in-out;
}

.boxed_item{
	font-family: 'Open Sans';
	font-weight: 100;
	padding: 10px 20px;
	display: inline-block;
	border: solid 2px white;
	box-sizing: border-box;
	font-size: 22px;
	color: white;
	text-align: center;
	margin-top: 70px;
}

.logo_bold{
	font-weight: 800;
}

.logo_title{
	color: white;
	font-family: 'Open Sans';
	font-weight: 200;
	font-size: 12px;
	text-align: center;
	padding: 5px 0;
}

.navigation_selection{
	margin: 20px 0;
	display: block;
	width: 200px;
	margin-left: 25px;
}

.navigation_item{
	font-weight: 400;
	font-family: 'Open Sans';
	padding: 12px 0;
	box-sizing: border-box;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.87);
	border-bottom: solid 1px #D8D8D8; 
	transition: all 0.8s ease-in-out;
	cursor: pointer;
}

.boxed_item_smaller{
	font-size: 12px;
	color: #D8D8D8;
	width: 200px;
	transition: all 0.8s ease-in-out;
	cursor: pointer;
	border-width: 1px;
	margin: 0 0 20px 0;
}

.boxed_item_smaller:hover{
	background-color: white;
	color: #111;
	transition: all 0.8s ease-in-out;
}

.hide_menu{
	margin-left: -4000px;
}

.opacity_one{
	opacity: 1;
}

.config{
	background: #4285F4;
}