<!DOCTYPE html>
<html lang="es">
<head>
	<link rel="stylesheet" type
	="text/css" href="../static/css/font-awesome.min.css">
	<link rel="stylesheet" type
	="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type
	="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="../static/js/menu.js"></script>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div id="map"></div>
	<i class="fa fa-caret-right toggle_menu"></i>
	<div class="sidebar_menu">
		<i class="fa fa-times"></i>
		<div class="config">
			<center>
				<a href="index.html">
					<h1 class="boxed_item">JESUS <span class="logo_bold">SALAS</span></h1>
				</a>
				<h2 class="logo_title">Programador Web</h2>
			</center>
		</div>
		<div class="routes_list">
			<div class="routes_item">
				<div class="route-main">RUTA ALMZT-101</div>
				<div class="route-details">Recorrido 32.km</div>
			</div>
			<div class="routes_item">
				<div class="route-main">RUTA ALMZT-101</div>
				<div class="route-details">Recorrido 32.km</div>
			</div>
			<div class="routes_item">
				<div class="route-main">RUTA ALMZT-101</div>
				<div class="route-details">Recorrido 32.km</div>
			</div>
			<div class="routes_item">
				<div class="route-main">RUTA ALMZT-101</div>
				<div class="route-details">Recorrido 32.km</div>
			</div>
			<div class="routes_item">
				<div class="route-main">RUTA ALMZT-101</div>
				<div class="route-details">Recorrido 32.km</div>
			</div>
			<div class="routes_item">
				<div class="route-main">RUTA ALMZT-101</div>
				<div class="route-details">Recorrido 32.km</div>
			</div>
			<div class="routes_item">
				<div class="route-main">RUTA ALMZT-101</div>
				<div class="route-details">Recorrido 32.km</div>
			</div>
		</div>
			<ul class="navigation_selection">
				<li class="navigation_item">RUTA ALMZT-101</li>
				<li class="navigation_item">RUTA ALMZT-102</li>
				<li class="navigation_item">RUTA ALMZT-103</li>
				<li class="navigation_item">RUTA ALMZT-104</li>
				<li class="navigation_item">RUTA ALMZT-105</li>
			</ul>
	</div>

</body>
</html>