<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Curso 2 Vue</title>
</head>
<body>
   <a href="bind">bind</a>
   <a href="ajax">ajax</a>
   <a href="show">v-show</a>
   <a href="template">template</a>
   <div id="main">
      <ul>
         <li v-for="item in people">${item}</li>
      </ul>

      <input type="text" v-model="name" v-on:keyup.enter="addName">
   </div>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.0/vue.js"></script>
   <script src="static/js/curso_vue2.js"></script> 
</body>
</html>