<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <script src="../static/vue/vue.js"></script>
  </head>
  <body>
    
    <div id="app">
      <template v-if="name">
        <h1>${gender == 'm' ? "Bienvenido" : "Bienvenida"}, ${name}</h1>
        <p>Espero que disgrutes tu visita</p>
        <p>Tu nombre al reves es: ${name.split('').reverse().join('')}</p>
      </template>
      <p v-else="">por favor escribe tu nombre</p>

      <form action="" @submit.prevent="singUp">
      <input type="text" v-model="name" class="form-control">
      <p v-if="name == ''" class="alert alert-danger">Coloca el nombre loco</p>
      <p v-if="name.length < 2" class="alert alert-danger">Esta muy corto</p>
      <select v-model="gender" class="form-control">
        <option value="m">Masculino</option>
        <option value="h">Femenino</option>
      </select>
      <p v-show="name">
        <button class="btn btn-success">Registrar</button>
      </p>
      </form>

    <hr>
    <pre>
      ${ $data |json }
    </pre>
    
    </div>
    <script>
      //Vue.config.delimiters = ["${", "}"];
      new Vue({
        delimiters: ['${', '}'],
        el:"#app",
        data: {
            name: "jesus",
            gender:"h"
        },
        methods:{
          singUp:function () {
            alert(this.name + "por favor espera mientras te registramos");
          }
        }
      });
    </script>
    
  </body>
</html>