<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="UTF-8">
   <title>Curso 2 Vue</title>
</head>
<body>
   <ul>
      <li><a href="bind">bind</a></li>
      <li><a href="ajax">ajax</a></li>
      <li><a href="show">v-show</a></li>
      <li><a href="template">template</a></li>
      <li><a href="eventos">eventos</a></li>
      <li><a href="filtros">filtros</a></li>
      <li><a href="componente">componente</a></li>
      <li><a href="clases">clases</a></li>
   </ul>
   <div id="main">
      <ul>
         <li v-for="item in people">${item}</li>
      </ul>

      <input type="text" v-model="name" v-on:keyup.enter="addName">
   </div>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.0/vue.js"></script>
   <script src="static/js/curso_vue2.js"></script> 
</body>
</html>